*{
    margin: 0;
    padding: 0;
}



#loginContainer{
    width: 100rem;
    height: 100rem;
    max-width: 30rem;
    max-height: 35rem;
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.61);
    
    /*background: #833AB4;
    background: -webkit-linear-gradient(54deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: -moz-linear-gradient(54deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: linear-gradient(54deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833AB4", endColorstr="#FCB045", GradientType=0);
    */
}

#email, #password, #confirmarPassword{
    margin: 1rem;
    margin-left: 1%;
    padding: 3%;
    width: 80%;
    height: 100%;
    max-width: 200rem;
    max-height: 1.7rem;
    border-radius: 2rem;

}

.formLabel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
    padding: 3%;
}

.botonIniciarSesion{
    padding: 4%;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 2rem;
    border-radius: 3rem;
    border: black;
    background-color: #eae0d5;
    font-family: 'Abyssinica SIL', serif;
    font-size: 80%;
}

.botonIniciarSesion:hover{
    background-color: #15616d; 
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s;
    border: black;
}

.formularioLogin {

    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.form {
    margin: auto auto;
}

#loginContainer .txt {
    font-family: 'Abyssinica SIL, regular', serif;
}

#irARegistrarUsu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#irARegistrarUsu button {
  background-color: #e8e8e8;
  border: none;
  border-radius: 0 min(5vw, 3rem) 0 min(5vw, 3rem); 
  padding: clamp(10px, 2.5vw, 20px) clamp(15px, 3vw, 25px); 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative; 
   
}


#irARegistrarUsu button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15); 
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none; 
  border-radius: 0 min(5vw, 3rem) 0 min(5vw, 3rem);
}

#irARegistrarUsu button:hover::after {
  opacity: 1; 
}

.logIcon {
    width: clamp(24px, 4vw, 35px); 
    height: clamp(24px, 4vw, 35px);
    object-fit: contain;
    position: relative; 
    z-index: 1;
    transition: all 0.3s ease;
}

#irARegistrarUsu button:hover .logIcon {
    filter: brightness(0.85); /* Oscurece el icono */
}

#irARegistrarUsu button:hover {
  
  background-blend-mode: multiply;
}

#loginContainer {
  position: relative;

}


@media screen and (max-width: 768px) {
  #irARegistrarUsu button {
    padding: 12px 16px;
  }
  
  .logIcon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 480px) {
  #irARegistrarUsu button {
    padding: 10px 14px;
  }
  
  .logIcon {
    width: 24px;
    height: 24px;
  }
}